body {
    background: azure;
  }
  
  header {
		display: block;
    text-align: right;
    border: 1px solid black;
    padding: 20px;

  }

 .banner {
      width: 400px;
      background-color: white;
      padding: 40px;
      margin: 20px, 25px;
      border: double 1px black;
      text-align: center
  }
  