.no-fouc {display: none;}

html {
  max-width: auto;
  max-height: auto;
  background: linear-gradient( rgba(0, 0, 255, 0.99), rgba(219, 162, 66, 0.96),rgba(11, 11, 255, 0.96)), url('Presidential Seal.jpg');
  font-size: 25.33%;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover; 
  
}

body {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
	font-size: 20px;
	letter-spacing: 0.05em;
  color: black;
	padding:10%;
	margin: 0.9%;
  text-align: center;
  
}


h1 {
  color: yellow;
	padding:auto; 
	margin: auto;
	font-weight: lighter;
}

#score{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  color: yellow;
  
}
/*
#question {

}
*/
.quizTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  max-width: 1080px; 
  color: black;
  padding-left: 45%;
  padding-right: 45%;
  padding-bottom: 1%;
  text-align: end;
/*  margin: 5em, 0, 0, 10;*/
  display: block;
  align-self: inherit;
  
}

form {
  max-width: 1080px;
  margin: auto;
  padding: 08%;
  text-align: center;
  box-sizing: content-box;


}


/* the .script items are meant for radio buttons. These will align and I am hoping with this you will be able to select the text as well as the radio buttons*/
/*
.radio-item {
  padding: 0.5rem 0em;
  justify-content: left;
}

.radio-item label:hover, .radio-item label:focus{
	color: #E8E8E8;
}

.radio-item input:checked + label {
	color: #E8E8E8;
  font-weight: bold;
  
}
p {
	padding: 1rem 0rem;
	margin: 1rem 0rem;
}
*/
button{
  /*-webkit-transition: linear 1s; */
  -webkit-transition: ease-in-out .60s;
  font-family: cursive;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 0.29em;
	padding: 5%;
  margin: auto;
  border-radius: 30px;
  border: 15px single silver blue;
  color: darkblue;
	background: linear-gradient( rgba(255, 0, 0, 99), rgba(255, 255, 255, 99),rgba(11, 11, 255, 99));
}

button:hover, #button-submit:focus {
  
  font-family: cursive;
  border: 4px dotted red;
  color: black;
  background: linear-gradient( rgba(255, 0, 0, 0.50), rgba(255, 255, 255, 0.50),rgba(11, 11, 255, 0.50)), url('flag.png');

}

button:selection #button-submit:focus{
  -webkit-transition: ease-in 11s; 
}